* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#left-panel>hr {
  width: 80%;
}

#left-panel>nav>menu {
  padding-left: 0;
  width: 90%;
}
/* ---- Paste below ---- */

#left-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
}

body > main {
  position: absolute;
  left: 300px;
}

body > main > article {
  border: 1px solid silver;
  border-radius: 8px;
  padding: 10px;
  margin: 15px 0;
}

body > main > article {
  border: 1px solid silver;
  border-radius: 8px;
  padding: 10px;
  margin: 15px 0;
}
main > article > img {
  float: right;
  border-radius: 15px;
}
body > main > article h3,
body > main > article h4 {
  margin: 3px;
}
body > main > article > ul > li {
  margin-bottom: 15px;
}
body > main > article span.citation {
  font-size: .7em;
  color: darkgray;
}